<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="de.cau.cs.kieler.prom.launchconfig.kiCoLaunchConfig">
<mapAttribute key="cs303_lab2.sct">
<mapEntry key="origin" value=""/>
<mapEntry key="projectRelativePath" value="cs303_lab2.sct"/>
<mapEntry key="providesInputs" value=""/>
</mapAttribute>
<listAttribute key="de.cau.cs.kieler.prom.launchconfig.commands"/>
<stringAttribute key="de.cau.cs.kieler.prom.launchconfig.main.environment" value="Generic"/>
<listAttribute key="de.cau.cs.kieler.prom.simulation.files">
<listEntry value="cs303_lab2.sct"/>
</listAttribute>
<mapAttribute key="launchdata">
<mapEntry key="associatedLaunchShortcut" value=""/>
<mapEntry key="mainFile" value=".project"/>
<mapEntry key="projectName" value="cs303_lab2"/>
<mapEntry key="targetDirectory" value="kieler-gen"/>
<mapEntry key="targetLanguage" value="s.c"/>
<mapEntry key="targetLanguageFileExtension" value=".c"/>
<mapEntry key="targetTemplate" value=""/>
<mapEntry key="wrapperCodeSnippetDirectory" value=""/>
<mapEntry key="wrapperCodeTemplate" value=""/>
</mapAttribute>
</launchConfiguration>
